.row.align-items-center
  .col-6
    .brand-info
      .brand-title
        %h1 Editer
      .brand-description
        %h4
          Editer votre profil.

  .col-6
    .sign-up-form.border.m-auto.mt-5.bg-white.p-5
      = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
        = f.error_notification    
        .form-inputs
          .form-group
            = f.input :email, required: true, autofocus: true
            - if devise_mapping.confirmable? && resource.pending_reconfirmation?
              %p
                Currently waiting confirmation for: #{resource.unconfirmed_email}

          .form-group
            = f.input :first_name, required: true, autofocus: true, input_html: { class: 'form-control' }

          .form-group
            = f.input :last_name, required: true, autofocus: true, input_html: { class: 'form-control' }

          .form-group
            = f.input :avatar, required: true, autofocus: true, input_html: { class: 'form-control' }

          .form-group
            = f.input :password, hint: t('devise.registrations.edit.leave_blank_if_you_don_t_want_to_change_it'), required: false, input_html: { autocomplete: "new-password" }
          
          .form-group
            = f.input :password_confirmation, required: false, input_html: { autocomplete: "new-password" }
          
        .form-actions.d-grid.gap-2
          = f.button :submit, t('devise.registrations.edit.update'), data: { turbo: false }

      %hr

      %h3 Supprimer mon compte

      %div
        .title.mb-3
          Pas content?
        .button-cancel 
          = button_to t('devise.registrations.edit.cancel_my_account'), registration_path(resource_name), data: { confirm: "Êtes vous sure?", turbo_confirm: "Êtes vous sure?" }, method: :delete, class: 'btn btn-primary'
      .back.mt-3
        = link_to 'Retour', :back
