.row.align-items-center
  .col-md-6
    .brand-info
      .brand-title
        %h1 Inscrivez-vous
      .brand-description
        %h4
          Commencer à patager les histoires de vos artistes préférés.
  .col-md-6
    .sign-up-form.border.m-auto.mt-5.bg-white.p-5
      = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        = f.error_notification
        .form-inputs
          .form-group
            = f.input :email, required: true, autofocus: true, input_html: { autocomplete: "email", class: 'form-control' }

          .form-group
            = f.input :first_name, required: true, autofocus: true, input_html: { class: 'form-control' }

          .form-group
            = f.input :last_name, required: true, autofocus: true, input_html: { class: 'form-control' }

          .form-group
            = f.input :avatar, label: 'Avatar', class: 'form-control'

          .form-group
            = f.input :password, label: 'Mot de passe', required: true, hint: ("#{@minimum_password_length} charactères minimum" if @minimum_password_length), input_html: { autocomplete: "new-password", class: 'form-control' }

          .form-group
            = f.input :password_confirmation, label: 'Confirmer mot de passe', required: true, input_html: { autocomplete: "new-password", class: 'form-control'} 
        
        .form-actions.d-grid.gap-2
          = f.button :submit, "S'inscrire", class: 'button btn btn-primary', data: { turbo: false }

      %hr
      .shared-links.text-center
        .form-group
          = render "devise/shared/links"
