.artist-info.text-center
	.d-flex.align-items-center.justify-content-center
		.avatar-story
			= model_avatar(@artist, 'rounded-circle avatar mt-3')
		%h3.artist-name
			= @artist.name.capitalize

.stories-artist.mt-5
	= render StoriesComponent.new(stories: @stories)