- if controller_name != 'sessions'
  .sign-in-btn.d-grid.gap-2
    = link_to "Se connecter", new_session_path(resource_name), class: 'button btn btn-primary'
  %br/
- if devise_mapping.registerable? && controller_name != 'registrations'
  .sign-up-btn.d-grid.gap-2
    = link_to "S'incrire", new_registration_path(resource_name), class: 'button btn btn-primary'
  %br/
- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'
  = link_to "Mot de passe oublié?", new_password_path(resource_name)
  %br/
- if devise_mapping.confirmable? && controller_name != 'confirmations'
  = link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name)
  %br/
- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks'
  = link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name)
  %br/
- if devise_mapping.omniauthable?
  - resource_class.omniauth_providers.each do |provider|
    = button_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider), data: { turbo: false }
    %br/
