- if @comments.present?
	.comments-title.mb-3
		%h4 Commentaires
	- @comments.each do |comment|
		.comment.mt-2.bg-white.p-3
			.user-name.mb-3
				= comment.user.fullname 
			.body
				= comment.body
			.footer.text-end
				= created_at_format(comment.created_at)
