= simple_form_for([@story, @comment]) do |f|

	= f.input :body, label: false, required: true, class: 'form-control', placeholder: 'Ecrire un commentaire'
	
	.submit
		= f.button :submit, 'Valider', class: 'btn btn-primary', data: { turbo: false }