%nav.navbar.navbar-expand-lg.navbar-light
	.container-fluid
		%a.navbar-brand{href: "#"} 
			= @navbar

		%button.navbar-toggler{"aria-controls" => "navbarNavDropdown", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-bs-target" => "#navbarNavDropdown", "data-bs-toggle" => "collapse", type: "button"}
			%span.navbar-toggler-icon

		#navbarNavDropdown.collapse.navbar-collapse.flex.justify-content-end
			%ul.navbar-nav
				%li.nav-item
					= link_to stories_path, class: 'nav-link active', data: { turbo: false } do
						.home-icon.text-center
							= image_tag 'icons/house.svg'
						Home

				- if user_signed_in?
					%li.nav-item
						= link_to new_story_path, class: 'nav-link', data: { turbo: false } do
							.new-story-icon.text-center
								=  image_tag 'icons/book.svg'
							Nouvelle histoire

					%li.nav-item
						= link_to notifications_path, class: 'nav-link', data: { turbo: false } do
							.notifications-icon.text-center
								=  image_tag 'icons/bell.svg'
								= render NotificationsCountComponent.new(current_user: current_user)
							Notifications

				- else
					%li.nav-item
						= link_to new_user_session_path, class: 'nav-link' do
							.sign-in-icon.text-center
								= image_tag 'icons/person-add.svg'
							Se connecter

					%li.nav-item
						= link_to new_user_registration_path, class: 'nav-link' do
							.sign-up-icon.text-center
								= image_tag 'icons/person-add.svg'
							S'inscrire

			%ul.navbar-nav.flex
				- if user_signed_in?
					%li.nav-item.dropdown
						%a#navbarDropdownMenuLink.nav-link.dropdown-toggle.dropdown-menu-right{"aria-expanded" => "false", "data-bs-toggle" => "dropdown", href: "#", role: "button"}
							= image_tag 'icons/person-circle.svg', class: 'person-circle'
						%ul.dropdown-menu.dropdown-menu-end{"aria-labelledby" => "navbarDropdownMenuLink"}							
							%li.nav-item
								= link_to 'Mon profile', user_path(current_user.id), class: 'nav-link'

							%li.nav-item
								= link_to 'Se deconnecter', destroy_user_session_path, method: :delete, class: 'nav-link', data: { turbo: false }
