.notifications
  - if @notice.present?
    .toast{"aria-atomic" => "true", "aria-live" => "assertive", :role => "alert", style: "position: absolute; top: 0; right: 0;"}
      .toast-header
        %img.rounded.mr-2
        %strong.mr-auto Hey
        %small
      .toast-body
        = @notice
  - elsif @alert.present?
    .toast{"aria-atomic" => "true", "aria-live" => "assertive", :role => "alert", style: "position: absolute; top: 0; right: 0;"}
      .toast-header
        %img.rounded.mr-2
        %strong.mr-auto Hey
        %button.ml-2.mb-1.close{"aria-label" => "Close", "data-dismiss" => "toast", :type => "button"}
          %span{"aria-hidden" => "true"} ×
      .toast-body
        = @alert
