.title
	.h2= story_form_title(@story)

= simple_form_for @story do |f|
	.row
		.col-md-6.form-group.mb-5
			= f.input :title, label: 'Titre', required: true, placeholder: 'Song/Album'

		.col-md-6.form-group.mb-5
			= f.simple_fields_for :artist do |artist|
				= artist.input :name, label: "Nom de l'artiste", required: true

	.form-group.mb-5
		= f.simple_fields_for :artist do |artist|
			= artist.input :avatar, label: 'Avatar artist'
			= artist.hidden_field :avatar, value: artist.object.avatar.signed_id if artist.object.avatar.attached?

	.row
		.col-md-6.form-group.mb-5
			= f.association :genres, label: 'Genres musicaux', required: true, collection: Genre.all.map { |g| [g.name.capitalize, g.id] }, input_html: { id: 'genres-select' , name: 'story[genre_ids][]', multiple: true }

		.col-md-6.form-group.mb-5
			= f.association :era, label: 'Année', required: true, collection: Era.all.map { |e| [e.year, e.id] }.reverse, selected: ( @story.new_record? ? Era.last.id : @story.era.id), class: 'form-control' 

	.form-group.mb-3
		= f.input :body, as: :rich_text_area, class: 'form-control tinymce', required: true, placeholder: 'Raconte ton histoire'

	.form-group
		= f.button :submit, 'Publie ton histoire', class: 'btn btn-primary', data: { turbo: false }

