.col-md-3
	.story-block-background
		.story-block.bg-white.border.m-2.p-3.text-center
			.story-artist.h5
				= link_to @story.artist.name.capitalize, story_path(@story.id), data: { turbo: false }
			.story-title
				%h3= story_title(@story.title.capitalize)