- if current_user.unviewed_notifications_count > 0
	%span.position-absolute.top-0.start-100.translate-middle.badge.rounded-pill.bg-danger
		= current_user.unviewed_notifications_count
		%span.visually-hidden unread messages
