- if @notifications.present?
	.notifications.mt-5.text-center.w-50.m-auto.bg-white
		- @notifications.each do |notification|
			.notification{class: "#{notification.id}"}
				= notification.content
				%hr