.user-info.text-center.mb-4
	.user-avatar
		= model_avatar(@user, 'rounded-circle avatar mt-3')
	.user-name
		= @user.email

.row
	.col-md-8
		.stories-options
			%fieldset.border.border-dark.border-dashed.rounded-3.p-3
				%legend.float-none.w-auto.px-3 Stories

				.stories-actions
					.new-story.p-3.border.rounded-5.bg-light.d-flex
						= image_tag 'icons/pencil-fill.svg', class: 'new-icon'
						= link_to 'Nouvelle histoire', new_story_path, class: 'new-story-section flex-grow-1', data: { turbo: false }
						= image_tag 'icons/plus-lg.svg', class: 'new-plus-icon'
					.all-story.p-3.border.rounded-5.bg-light.mt-2
						#accordionExample.accordion
							.accordion-item
								%h2#headingOne.accordion-header
									%button.accordion-button.collapsed{"aria-controls" => "collapseOne", "aria-expanded" => "true", "data-bs-target" => "#collapseOne", "data-bs-toggle" => "collapse", type: "button"}
										= image_tag 'icons/book-fill.svg', class: 'stories-icons'
										Vos histoires
								#collapseOne.accordion-collapse.collapse{"aria-labelledby" => "headingOne", "data-bs-parent" => "#accordionExample"}
									.accordion-body
										- @stories.each do |story|
											.story-link
												= link_to story_path(story) do
													= story.title
											%hr

		.account-user
			%fieldset.border.border-dark.border-dashed.rounded-3.p-3
				%legend.float-none.w-auto.px-3 Compte

				.account-info
					.d-flex.justyfy-content-center.user-info
						.avatar-user
							= model_avatar(@user, 'avatar rounded-circle')
							.edit.text-center
								= link_to edit_user_registration_path, class: 'edit-icons' do
									= image_tag 'icons/pencil-square.svg'
						%h3.user_fullname
							= @user.fullname
						
							.login-email
								login: 
								= @user.email
							.login-password
								mot de passe:...............


	.col-md-4
		.contributors
			%fieldset.border.border-dark.border-dashed.rounded-3.p-3
				%legend.float-none.w-auto.px-3 Contributeurs
				.row.contributors
					- @stories.each do |story|
						- story.contributions.each do |contributor|
							.col-md-4.user-avatar
								= model_avatar(contributor.user, 'avatar rounded-circle')