.row.align-items-center
  .col-md-6
    .brand-info
      .brand-title
        %h1 Entrez votre email
      .brand-description
        %h4
          Des instructions vous sera envoyé sur votre email afin de réinitialiser votre mot de passe.
  .col-md-6
    .new-password-form.border.m-auto.mt-5.bg-white.p-5
      = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
        = f.error_notification
        .form-inputs
          = f.input :email, required: true, autofocus: true, input_html: { autocomplete: "email" }
        
        .form-actions.d-grid.gap-2
          = f.button :submit, "Réinitialiser mot de passe", class: 'button btn btn-primary'
      
      %hr
      .shared-links.text-center
        = render "devise/shared/links"
