.title.text-center.mt-5
	Tunes_stories
	%h5.bold Discover how it happened


.search-section.mt-5
	= simple_form_for :q, url: "/stories", method: :get, id: 'search-story', data: { turbo_frame: 'stories'} do |f|
		= f.input :queries, label: false, required: false, input_html: { class: 'form-control m-auto p-3 rounded-5', id: 'form1', placeholder: 'Search for song/album/artist' }

		.row
			.col-md-2
			.col-md-2
			.col-md-2.genres-filter.form-group
				= f.input :genres, label: false, collection: Genre.all.map { |g| g.name.capitalize }, input_html: { id: 'genres-filters', class: 'rounded-5'}

			.col-md-2.era-filter.form-group
				= f.input :era, label: false, collection: Era.all.map { |e| e.year }.reverse, input_html: {class: 'form-control rounded-5', prompt: 'Année' }
			.col-md-2
				= f.submit 'Search', class: 'search-button btn btn-primary rounded-5'
			.col-md-2

= turbo_frame_tag 'stories' do
	= render StoriesComponent.new(stories: @stories)