.row
	.col-md-8.border-right-0
		.artist-info.text-center
			.d-flex.align-items-center.justify-content-center
				.avatar-story
					= model_avatar(@story.artist, 'rounded-circle avatar mt-3')
				%h3.artist-name
					= link_to @story.artist.name.capitalize, artist_path(@story.artist), class: 'link-story'

		.paper-story-background
			.paper-story.bg-white.pt-5.mt-3
				%h1.title.text-center
					= story_title(@story.title.capitalize)

				.story-descrition.mt-4
					= @story.body.body

		- if user_signed_in?
			.comment-form.mt-5.mb-5
				= render CommentFormComponent.new(comment: @comment, story: @story)

		.comments
			= render CommentsListComponent.new(comments: @comments)

	.col-md-4.border-left.border-dark.pt-5
		- if user_signed_in?
			.edit-story.d-grid.gap-2
				= link_to edit_button_label(@story), edit_story_path(@story), class: 'btn btn-primary d', data: { turbo: false }
		- if user_signed_in?
			%hr
			- if @like.nil?
				.like.ml-auto
					= button_to likes_path(like: { story_id: @story.id, user_id: current_user.id }), method: "post", data: { turbo: 'false' } do
						= image_tag('icons/hand-thumbs-up.svg')
			- else
				.dislike
					= button_to like_path(@like, like: { story_id: @story.id }), method: "delete", data: {turbo: 'false' } do
						= image_tag('icons/hand-thumbs-up.svg')					
			
			.likes-count
				= @story.likes.count
				- if @story.likes.count > 1
					personnes aiment
				- else
					personne aime

		%hr
		.contributors
			%h5 Contributions

			Nombre de contributeurs: 
			= @story.contributors_count
			.contributors-avatars
				- @story.contributions.each do |contributor|
					.user-avatars
						= link_to user_path(contributor.user) do
							= image_tag contributor.user.avatar.url, class: 'avatar rounded-5'
		%hr
		.story-info
			.story-info.title
				%h5 Informations générale
			.year-info
				Année:
				= @story.era.year

			.artist-name
				Artiste:
				= @story.artist.name.capitalize