.row.align-items-center
  .col-md-6
    .brand-info
      .brand-title
        %h1 Tunes-stories
      .brand-description
        %h4
          Avec tunes-stories, Découvrez l'histoire de la création des oeuvres de vos artistes préférés.
  .col-md-6
    .sign-in-form.border.m-auto.mt-5.bg-white.p-5
      = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        = f.error_notification
        .form-inputs
          .form-group
            = f.input :email, required: true, autofocus: true, input_html: { autocomplete: "email", class: 'form-control' }
          
          .form-group
            = f.input :password, label: 'Mot de passe',required: true, input_html: { autocomplete: "current-password", class: 'form-control' }
          
          .form-group
            = f.input :remember_me, label: 'Se souvenir de moi', as: :boolean if devise_mapping.rememberable?

        .form-actions.d-grid.gap-2
          = f.button :submit, "Se connecter", class: 'button btn btn-primary', data: { turbo: false }

      %hr
      .shared-links.text-center
        .form-group
          = render "devise/shared/links"
