@import "bootstrap";
@import "bootstrap-custom";
@import "select2";
@import "select2-bootstrap";
@import "actiontext";
@import "devise";
@import "notifications";
@import "stories";
@import "users";
@import "actiontext.css";

@font-face {
  font-family: 'resist_sans_textlight';
  src: url('resistsanstext-light-webfont.woff2') format('woff2'),
       url('resistsanstext-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'resist_sans_textlight_oblique';
  src: url('ResistSansDisplay-LightOblique.eot') format('eot'),
       url('ResistSansDisplay-LightOblique.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

body {
	background-color: #ebe3d4;
  font-family: 'resist_sans_textlight_oblique';
}

trix-editor {
  &.form-control {
    min-height: 20rem;
    height: auto;
  }
}