/* sign-in */

.sign-in-form {
	.btn {
		background-color: #EA3A70;
	}

	.shared-links {
		.sign-up-btn {
			.btn {
				background-color: #2F4F4D;
			}
		}		
	}
}

.brand-info {
	.brand-title {
		color: #EA3A70;
	}
}

.sign-up-form {

	.btn {
		background-color: #EA3A70;
	}
	
	.shared-links {
		.sign-in-btn {
			.btn {
				background-color: #2F4F4D;
			}
		}		
	}	
}

.new-password-form {

	.btn {
		background-color: #EA3A70;
	}
	
	.shared-links {
		.sign-in-btn {
			.btn {
				background-color: #2F4F4D;
			}
		}		
	}	
}