/* index */

.story-block {
	transform: rotate(358deg);
}

.stories-list {
	a {
		color: #EA3A70;
	}
}

.search-section {
	.btn {
		background-color: #EA3A70;
	}
}

.story-block-background {
	background-image: url("fond-bloc-story.svg");
}

#genres-filters + .select2-container .select2-selection {
  border-radius: 1rem;
}

#form1 {
	@media (min-width: 768px) { 
		width: 50%;
	}
}

.search-button {
	@media (min-width: 375px) and (max-width: 576px) { 
		width: 100%;
	}
}


/* show */

.artist-info {
	position: relative;
  top: 33px;
}

.paper-story-background {
	background-image: url("fond-bloc-story.svg");

	.paper-story {
		transform: rotate(358deg);
	}
}

.link-story {
	color: #EA3A70;
}

/* footer */

.cc-icon {
	width: 30px;
}

.story-info {
	top: 33
}

.user-avatars {

	.avatar {
		height: 60px;
    width: 65px;
	}
}