!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title TunesStories
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags
  %body.d-flex.flex-column.min-vh-100
    = render NavbarComponent.new(navbar: 'Tunes-stories')
    = render LogoComponent.new(logo: 'icon.png')
    .container
      = render NotificationsComponent.new(notice: "#{notice}", alert: "#{alert}")
      = yield
  .footer.text-center.mt-auto.py-3
    %h5 
      tunes_stories
      = image_tag('cc.png', class: 'cc-icon')
      %strong 2023
